<!DOCTYPE html>
<html lang="de-DE" contenteditable="false">
<head>
    <meta charset="utf-8">

    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}

    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <title>{{ page.title }} - {{ site.title }}</title>

    {% include inline_styles.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css" />

</head>
<body>
    <div id="l-wrapper">
        <h1>{{ page.title }}</h1>
        {{ content }}

        <nav id="l-nav" class="nav-black">
            <a href="/"><strong>{{ site.title }}</strong></a>
            <a href="/about-me">About me</a>
            <a href="/projects">Projects</a>
        </nav>
    </div>
</body>
</html>
